<?xml version="1.0" encoding="utf-8" ?>
<config>
  <tfs>
    <url>http://development.titansoft.com.sg:8080/tfs/defaultcollection</url>
    <projects>
      <project key="Ceres" value="$/TigerSoft/Buffon" />
      <project key="Akis" value="$/TigerSoft/Akis" />
      <project key="Hector" value="$/TigerSoft/Hector" />
      <project key="Pontus" value="$/TigerSoft/Pontus" />
      <project key="Libra" value="$/TigerSoft/Libra" />
      <project key="Prometheus" value="$/TigerSoft/Prometheus" />
      <project key="Neleus" value="$/TigerSoft/Neleus" />
      <project key="HectorMobile" value="$/TigerSoft/HectorMobile" />
      <project key="Aura" value="$/TigerSoft/Aura" />
      <project key="Themis" value="$/TigerSoft/Themis" />
      <project key="Speed" value="$/TigerSoft/Speed" />
      <project key="Kronos" value="$/TigerSoft/Kronos" />
      <project key="AuraMok" value="$/TigerSoft/AuraMok" />
    </projects>
  </tfs>
  <master>Rum</master>
  <slack>
    <webhookurl></webhookurl>
  </slack>
</config>
